<%# byebug %>
<% if user != current_user %>
  <% if current_user.following?(user) %>
    <div class=""><%= link_to "フォロー中", user_relationships_path(user.id), method: :delete, remote: true, class:"text-light btn btn-outline-success" %></div>
  <% else %>
    <div class=""><%= link_to "フォローする", user_relationships_path(user.id), method: :post, remote: true, class:"text-light btn btn-outline-success" %></div>
  <% end %>
<% end %>