<%= stylesheet_link_tag "users", :media => "all" %>
<div class="container-fluid">
  <div class="full-page">

    <%= render 'public/homes/header' %>

    <div class= "row">
      <div class="col-md-3 text-center text-white"></div>
      <div class="col-md-3 text-white mt-3 mb-3">
        <h3>検索結果</h3>
      </div>
      <div class="col-md-3 text-white mt-1">
      </div>
      <div class="col-md-3 text-white mt-1">
        <%#= paginate @user, theme: 'bootstrap-5' %>
      </div>
    </div>

    <div class= "row">
      <%= render 'public/users/profile', user: current_user %>

        <%# if !@search_post_images.blank? %>
          <%= render 'list', post_images: @search_post_images %>
        <%# else %>
          <!--<p>検索した投稿はありません</p> -->
        <%# end %>
      </div>
    </div>
  </div>
</div>