<%= stylesheet_link_tag "users", :media => "all" %>
<div class="container-fluid">
  <div class="full-page">
    <%= render 'public/homes/header', current_user: current_user %>
    <div class= "row">
      <div class="col-md-3 text-center text-white mt-2">
      </div>
     <div class="col-md-5 text-white mt-2">
        <h3 class="ml-2">DM一覧</h3>
      </div>

      <div class="col-md-4 text-white mt-2">

      </div>

    </div>

    <div class= "row">
      <%= render 'public/users/profile', user: @current_user %>
      <div class="col-md-9 text-white mt-2">
      </div>
    </div>

