<%= stylesheet_link_tag "users", :media => "all" %>

<div class="container-fluid2">
  <div class="full-page">
    <%= render 'public/homes/header', current_user: current_user %>
    <div class= "row">
      <div class="col-md-7 offset-md-1 text-white">
        <h1 class="about-top mt-5">キャンプに行って自然を感じる</h1>
        <div class="about-body mt-4">
          <span>CAMB</span> は、キャンプ好きの方々が集まるクラブのようなものです。<br>
          キャンプにまつわる情報だけがここにあります。<br>
          世界には、知らない世界が無限にあり、<br>キャンプにも楽しむ方法が無限にあります。<br>
          キャンプの魅力を皆さんで分かち合う場所で行った気分に<br>
          なれるので簡単に行けないという方にもお勧めです。<br>
          みんながまだ知らない自分が見つけたことやキャンプライフを<br>
          この<span>CAMB</span> を通じて知ってもらおう。<br>
          皆さんの思い出をこの場所に。

        </div>
      </div>
      <div class="col-md-4 text-white">
        <h5 class="about-foot mr-5" style="margin-top: 300px">
          「 幸福 」 「 癒し 」 「 免疫 」<br>
          自然はヒトにあらゆる恩恵を与え、<br>絶大な効果をもたらしてくれます。<br>
          これはイギリスの大学の研究で２万<br>人以上に調査を行った結果です。<br>
          キャンプは学校では教えてくれない<br>生きる力を学べる場所であります。<br>
          そのキャンプの素晴らしさをここで、<br>人と人が繋がり周りの人にも知って<br>いって欲しい、そう願っています。

        </h5>
      </div>
    </div>
  </div>
</div>



