<%= stylesheet_link_tag "users", :media => "all" %>
<div class="container-fluid">
  <div class="full-page">

    <%= render 'admin/users/header' %>

    <div class= "row">
      <div class="col-md-12 text-white mt-2">
        <div class="d-flex">
          <h3 class="ml-5 mr-5">投稿一覧(新着順)</h3>
          <%= paginate @post_images, theme: 'bootstrap-5' %>
        </div>
      <%= render 'admin/post_images/list', post_images: @post_images %>
      </div>
    </div>

  </div>
</div>