<%= stylesheet_link_tag "users", :media => "all" %>
<div class="container-fluid">
  <div class="full-page">

    <%= render 'admin/users/header' %>

    <div class="row">
      <div class="col-md-12 text-white mt-3 mb-3">
        <h3 class="ml-5">検索結果</h3>
        <%= render 'admin/post_images/list', post_images: @search_post_images %>
      </div>
    </div>

  </div>
</div>