// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container-fluid {
  background-image: image-url('camb_top5.jpg');
  background-size: cover;
  background-position: bottom;
  height:100%;
  width:100%;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  opacity: 0.7;
}

.full-page {
  width: 100vw;
  height: 100vh;
}