<div class= "hedder">
  <div class= "row">
    <div class="col-md-4 text-center text-white pl-5 mt-3">
      <!--<div class="btn btn-outline-success mr-5"><%#= link_to "マイページ", user_path(current_user.id), class:"text-light" %></div>
      <div class="btn btn-outline-success mr-3"><%#= link_to '　新規投稿　', new_post_image_path, class:"text-light" %></div>  -->
      <div class="btn btn-outline-success mr-3"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"text-light" %></div>
    </div>
    <div class="col-md-4 text-center text-white">
      <%= link_to root_path, class:"text-decoration-none" do %>
        <div class="d-flex justify-content-center">
          <div class="logo-1"><%= image_tag 'camb_hedlogo5.png', size: '70x70' %></div>
          <div class="hed-text text-white">CAMB</div>
          <div class="logo-1"><%= image_tag 'camb_hedlogo4.png', size: '70x70' %></div>
        </div>
      <% end %>
    </div>
    <div class="col-md-4 text-center text-white mt-3">
      <!--<div class="btn btn-outline-success mr-5"><%#= link_to "　投稿一覧　", post_images_path, class:"text-light" %></div>
      <div class="btn btn-outline-success mr-3"><%#= link_to '　ABOUT　', about_path, class:"text-light" %></div>  -->
    </div>
  </div>
</div>